<div class="col-xl-4 col-lg-4 col-md-8 col-sm-12 m-auto text-center">
    <div class="card bg-light my-5 shadow ">
        <h3 class="card-header">{{article.title | title}}</h3>
        <h5 class="card-header">{{article.category.name | title}}</h5>
        <img src="{{article.image}}" alt="photo de l'article {{article.title}}">
        <div class="card-body">
            {% if article.supportFilename != NULL %}
                <a href="{{ asset('uploads/supports/' ~ article.supportFilename) }}">Télécharger le document support</a>
            {% endif %}
          <p class="card-text">{{article.content | raw}}</p>
          <a href="{{path("article_show", {'slug':article.slug} ) }}" class="btn btn-primary rounded">Lire la suite</a>
          <div class="my-3">
              <a href="#" class="card-link">{{article.author.fullname}}</a>
          </div>
        </div>
        <div class="card-footer text-muted">
         {{article.creationDate | date('d/m/y à H:i', "Europe/Paris" )}}
        </div>
        {% if app.user ==  article.author %}
            <div>
                <a href="{{ path('article_edit' , {'slug': article.slug } ) }}" class="btn btn-info mx-2">
                    Modifier l'article
                    <i class="fa fa-pen"></i>
                </a>
                
                <form class="d-inline" action="{{ path('article_delete' , {'slug': article.slug } ) }}" 
                    onsubmit="return confirm('Etes vous sur de vouloir supprimer cette article ?');">
                    <button class="btn btn-danger mx-2">
                            Supprimer l'article
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</div>
