{# {% set user = {'firstName': 'Marco', 'lastName': 'Polo', 'role': 'user', 'isConnected': false} %} #}

{% if app.user %}


<div class="wrapper d-flex align-items-stretch">
	<nav id="sidebar">
		<div
			class="p-4 pt-5">
			<!-- photo de profile possibilité de faire un accès au profile en cliquant dessus -->
			<a href="#"><img class="img logo rounded-circle mb-5" src="{{app.user.avatar}}" alt=""></a>
			<ul class="list-unstyled components mb-5">
				<li>
					<a href="{{path("app_home")}}">Accueil</a>
				</li>
			</li>
			<li>
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Bibliothèque</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					{# {% for categorie in categories %}
					<li>
						<a href="#">{{categorie.name}}</a>
					</li>
					{% endfor %} #}
					<li>
						<a href="#">All</a>
					</li>
					<li>
						<a href="#">HTML/CSS</a>
					</li>
					<li>
						<a href="#">JavaScript</a>
					</li>
					<li>
						<a href="#">PHP</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Calendrier</a>
			</li>
			{# <li>
				<a href="#">Tableau de bord</a>
			</li> #}

			
			<li>
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tableau de bord</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a href="{{path("app_account")}}">Utilisateurs</a>
					</li>
					<li>
						<a href="{{path("app_article")}}">Articles</a>
					</li>
					<li>
						<a href="{{path("app_category_index")}}">Catégories</a>
					</li>
				</ul>
			</li>
			{# <li>
				<a href="#">Settings</a>
			</li> #}
			<li>
				<a href="{{ path('user_show' , {'slug': app.user.slug } ) }}">Mon compte</a>
			</li>
			<li>
				<a href="{{path("account_logout")}}">Logout</a>
			</li>
		</ul>

	</div>
</nav>
{% endif %}
<!-- Page Content  -->
<div id="content">

	<nav class="navbar navbar-expand-md navbar-light bg-dark m-4 ">
		<div class="container-fluid">
{% if app.user %}

			<button type="button" id="sidebarCollapse" class="btn btn-dark">
				<i class="fa fa-bars"></i>
				<span class="sr-only">Toggle Menu</span>
			</button>
			{% endif %}
			<button class="btn btn-dark d-inline-block d-md-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars"></i>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav navbar-nav ml-auto">

					{% if app.user %}
						<li class="nav-item active">
							{# <a class="nav-link text-light" href="{{path("app_home")}}">Home</a> #}
							<p class="text-white pt-2">Bienvenue {{app.user.firstname}} | </p>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('user_show' , {'slug': app.user.slug } ) }}">Mon compte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path("account_logout")}}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path("user_create")}}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path("account_login")}}">Connexion</a>
						</li>
					{% endif %}


				</ul>
			</div>
		</div>
	</nav>

