{# {% set user = {'firstName': 'Marco', 'lastName': 'Polo', 'role': 'user', 'isConnected': false} %} #}
<div class="scroll-indicator"></div>
{% if app.user %}

<div class="wrapper d-flex align-items-stretch">
	<nav id="sidebar" class='active' >
		<div
			class="p-4 pt-5 active sticky-top">
			<!-- photo de profile possibilité de faire un accès au profile en cliquant dessus -->
			<a href="#"><img class="img logo rounded-circle mb-5" src="{{app.user.avatar}}" alt=""></a>
			<ul class="list-unstyled components mb-5">
				<li>
					<a href="{{path("app_category_index")}}">Accueil</a>
				</li>
			</li>
			<li>
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Bibliothèque</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li>
						<a href="{{path("app_article")}}">Tous les articles</a>
					</li>
					{% for category in categories %}
					<li>
						<a href="{{path('app_article_cat', {'id': category.id})}}">{{category.name}}</a>
					</li>
					{% endfor %}
				</ul>
			</li>
			<li>
				<a href=" {{path('article_create')}} ">Écrire un article</a>
			</li>
			{# <li>
				<a href="#">Tableau de bord</a>
			</li> #}
			{# <pre>
				{{ dump(role) }}
			</pre> #}
			{% if is_granted('ROLE_ADMIN') %}
			<li>
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tableau de bord</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a href="{{path("app_account")}}">Utilisateurs</a>
					</li>
					<li>
						<a href="{{path("app_article_admin")}}">Articles</a>
					</li>
					<li>
						<a href="{{path("app_category_admin")}}">Catégories</a>
					</li>
				</ul>
			</li>
			{% endif %}
			
			{# <li>
				<a href="#">Settings</a>
			</li> #}
			<li>
				<a href="{{ path('user_show' , {'slug': app.user.slug } ) }}">Mon compte</a>
			</li>
			<li>
				<a href="{{path("account_logout")}}">Logout</a>
			</li>
		</ul>

	</div>
</nav>
{% endif %}
<!-- Page Content  -->
<div id="content">

	<nav class="navbar navbar-expand-md navbar-light bg-dark m-4">
		<div class="container-fluid">
{% if app.user %}

			<button type="button" id="sidebarCollapse" class="btn btn-dark navlat">
				<i class="fa fa-bars"></i>
				<span class="sr-only">Toggle Menu</span>
			</button>
			{% endif %}
			<div class="logo mx-3">
			<img src="{{asset('../img/logo complet.svg')}}" width ="250" alt="logo">
			</div>
			<button class="btn btn-dark d-inline-block d-md-none ml-auto navlog" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-user"></i>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav navbar-nav ml-auto">

					{% if app.user %}
						<li class="nav-item active">
							{# <a class="nav-link text-light" href="{{path("app_home")}}">Home</a> #}
							{# <p class="text-white pt-2">Bienvenue {{app.user.firstname}} | </p> #}
						</li>
						<li>
						<a href="{{path('article_create')}}" class="btn btn-primary shadow" style="border-radius:7px; text-align:center; width:150px; padding:5px; background-color:#2780E3; border:0px; margin-right:100px; margin-top:7px">Ecrire un article</a>
						</li>
						{# <li>
						<img src=" {{asset('/img/logo-bleu.png')}}" style="height:40px; widht:auto; margin-right:15px" alt="">
						</li> #}
						<li class="nav-item">
							<a class="nav-link text-light" href="{{ path('user_show' , {'slug': app.user.slug } ) }}">Mon compte</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path("account_logout")}}">Logout</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path("app_home")}}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path("user_create")}}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="{{path("account_login")}}">Connexion</a>
						</li>
					{% endif %}


				</ul>
			</div>
		</div>
	</nav>

